doctype html
html(lang="ko")
    head
        title #{pageTitle} / Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            if fakeUser.loggedIn
                small hello #{fakeUser.name}
            nav 
                ul 
                    if fakeUser.loggedIn == false 
                        li 
                            a(href="/login") Login
                    else 
                        li 
                            a(href="/users/logout") Logout
            h1=pageTitle
        main
            block contents
            ul
                each video in videos 
                    li=video
        include partials/footer.pug