doctype html
html(lang="ko")
    head
        title #{pageTitle} / Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") Home
                    li 
                        a(href="/search") Search
                    if loggedIn 
                        li 
                            a(href="/videos/upload") Upload
                        li
                            a(href="/users/logout") Logout
                        li
                            a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}'s profile
                        li 
                            a(href="/users/edit") Edit profile
                    else 
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login
        main
            block contents
        include partials/footer.pug
        script(src="/static/js/main.js") 