extends base.pug

block contents
    if errorMessage
        span=errorMessage
    form(method="post")
        input(name="oldPw", type="password", placeholder="Old password")
        input(name="newPw", type="password", placeholder="New password")
        input(name="newPw1", type="password", placeholder="New password confirmation")
        input(type="submit", value="Change Password")