extends base.pug

block contents
    form(method="POST")
        input(name="email", type="email", placeholder="Email", value=loggedInUser.email, required)
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name, required)
        input(name="avatarUrl", type="text", placeholder="AvatarUrl", value=loggedInUser.avatarUrl, required)
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly 
        a(href="/users/change-password") Change Password &rarr;