extends base.pug

block contents 
    h3#videoChangeTitle Change the video's information
    form(method="POST")
        input(name="title" type="text", placeholder="Edit title", required maxlength=30, value=video.title)
        input(name="description", type="text", placeholder="Edit description", required, maxlength=100, value=video.description)
        input(name="hashtags", type="text", placeholder="Edit hashtags, separated by comma", required, value=video.hashtags.join())
        input(type="submit", value="Save")