extends base.pug

block contents
    img(crossorigin="anonymous" src=loggedInUser.avatarUrl, height="100", width="100")
    form(method="POST", enctype="multipart/form-data")
        input(name="email", type="email", placeholder="Email", value=loggedInUser.email, required)
        input(name="name", type="text", placeholder="Name", value=loggedInUser.name, required)
        label(for="avatar") Avatar
        input(name="avatar", type="file", placeholder="Avatar", accept="image/*")
        input(name="location", type="text", placeholder="Location", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
    if !loggedInUser.socialOnly 
        div.edit-profile__password
                a(href="change-password") Change Password &rarr;