extends base.pug
include mixins/video

block contents 
    div.profile__data
        img(crossorigin="anonymous" src=user.avatarUrl).avatar
        h3=user.name
    div.video-grid
        each video in user.videos
            +video(video)
        else
            span.empty__message No videos found