extends base.pug
include mixins/video

block contents
    form(method="GET")
        input(placeholder="Search by title", name="keyword", type="text")
        input(type="submit", value="Search")
    div 
        each video in videos 
            +video(video)
        else 
            span There's no #{keyword} video